.bg__img__desktop{
   width: 100%;
   height: 158px;
   display: block;

   @include mobile-small{
      content: '';
      height: 53px;
      background-image: url(../images/bg/bg-footer-top-mobile.svg);
      background-repeat: no-repeat;
   }
}

.footer{
   background-color: $Very-Pale-Blue;
}

.footer__container{
   background-color: $Very-Dark-Cyan;
}

.container__itens{
   max-width: 1200px;
   margin: 0 auto;
   padding: 60px 30px;
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: space-between;

   @include mobile{
      padding: 40px 0;
      flex-direction: column-reverse;
   }
}

.footer__item1{
   margin: 0 30px;

   .footer__logo{
      margin-bottom: 20px;
      display: inline-block;
      
      img{
         width: 210px;
         filter: contrast(0%) brightness(5000%);
      }
   }
   .footer__item1__text{
      max-width: 300px;
      margin-bottom: 20px;
      color: $Very-Pale-Blue;
      font-family: $font-family-opensans;
      font-size: 0.75em;
      font-weight: 400;
   }
   .footer__item1__textimg{
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      img{
         margin-right: 20px;
      }
      p{
         color: $Very-Pale-Blue;
         font-family: $font-family-opensans;
         font-size: 0.8125em;
         opacity: 0.9;
      }
   }
   .footer__item1__socialmedia{
      margin-top: 80px;
      display: flex;

      a + a{
         margin-left: 12px;
      }

      img{
         width: 34px;
         height: 34px;
         
         &:hover{
            filter: invert(74%) sepia(10%) saturate(5652%) hue-rotate(295deg) brightness(96%) contrast(107%);
         }
      }

      @include mobile{
         margin-top: 50px;
      }
   }

   @include mobile-small{
      margin: 0 20px;
   }
}

.footer__item2{
   margin: 0 30px 80px 30px;

   .footer__item2__title{
      margin-bottom: 20px;
      color: $Very-Pale-Blue;
      font-family: $font-family-opensans;
      font-size: 1.125em;
      font-weight: 600;
      text-transform: uppercase;
   }
   .footer__item2__text{
      max-width: 290px;
      margin-bottom: 30px;
      color: $Very-Pale-Blue;
      font-family: $font-family-opensans;
      font-size: 0.75em;
      font-weight: 400;
   }
   form{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .form__input{
         margin-right: 30px;
         display: flex;
         flex-direction: column;

         input[type=email]{
            width: 270px;
            display: block;
            padding: 12px 10px;
            border-radius: 6px;
            border: 0;

            &:focus:invalid{
               border: 1px solid $Light-Red;
               outline: none;
            }

            @include tablet{
               width: 100%;
            }
         }
         
         @include mobile{
            margin-right: 0;
         }
      }

      button{
         padding: 12px 30px;
         background-color: $Pink;
         color: $Very-Pale-Blue;
         font-size: $font-family-opensans;
         font-weight: 500;
         border-radius: 6px;
         border: 0;
         cursor: pointer;

         &:hover{
            background-color: rgba(
               $color: $Light-Pink, 
               $alpha: .8);
         }

         @include mobile{
            margin-top: 12px;
            float: right;
         }
      }

      @include mobile{
         display: block;
      }
   }

   @include mobile-small{
      margin: 0 20px 60px 20px;
   }
}