@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5faff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.menu {
  margin-bottom: 140px;
}

@media screen and (max-width: 480px) {
  .menu {
    margin-bottom: 90px;
  }
}

.menu__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__container img {
  max-width: 65%;
}

.menu__container .menu__button {
  padding: 7px 24px;
  border: 1px solid #ff52bf;
  border-radius: 40px;
  color: #ff52bf;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
}

.menu__container .menu__button:hover {
  border: 1px solid rgba(255, 143, 216, 0.8);
  color: rgba(255, 143, 216, 0.8);
  -webkit-transition: border 0.2s, color 0.2s;
  transition: border 0.2s, color 0.2s;
}

.intro {
  margin: 0 auto;
  padding: 0 20px;
}

.intro .intro__img {
  margin: 120px auto 80px auto;
}

.intro__info .intro__info__title {
  margin-bottom: 16px;
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 2.625em;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .intro__info .intro__info__title {
    font-size: 1.625em;
  }
}

.intro__info .intro__info__text {
  max-width: 420px;
  margin: 0 auto 40px auto;
  color: #00252e;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .intro__info .intro__info__text {
    max-width: 300px;
    margin-bottom: 50px;
  }
}

.intro__info .intro__info__btn {
  margin: 0 auto;
  padding: 16px 64px;
  display: block;
  background-color: #ff52bf;
  color: #f5faff;
  font-size: 0.875em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .intro__info .intro__info__btn {
    padding: 12px 40px;
    font-size: 0.75em;
  }
}

.intro__info .intro__info__btn:hover {
  background-color: #ff8fd8;
}

.intro__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.intro__flex .intro__communities {
  padding: 60px 30px;
}

.intro__flex .intro__communities::before {
  content: '';
  width: 47px;
  height: 41px;
  display: block;
  background-image: url(../images/icon/icon-communities.svg);
  background-repeat: no-repeat;
}

.intro__flex .intro__messages {
  padding: 60px 30px;
}

.intro__flex .intro__messages::before {
  content: '';
  width: 48px;
  height: 41px;
  display: block;
  background-image: url(../images/icon/icon-messages.svg);
  background-repeat: no-repeat;
}

.intro__flex .intro__flex__number {
  margin-bottom: 30px;
  color: #00252e;
  font-family: "Open Sans", sans-serif;
  font-size: 5em;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .intro__flex .intro__flex__number {
    font-size: 4em;
  }
}

.intro__flex .intro__flex__text {
  color: rgba(0, 37, 46, 0.45);
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  letter-spacing: 0.5px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .intro__flex .intro__flex__text {
    font-size: 1em;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.container__flex {
  margin: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container__flex .container__flex__info {
  margin: 0 30px;
}

.container__flex .container__flex__info .container__flex__title {
  margin-bottom: 20px;
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}

@media screen and (max-width: 767px) {
  .container__flex .container__flex__info .container__flex__title {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .container__flex .container__flex__info .container__flex__title {
    font-size: 1.625em;
  }
}

.container__flex .container__flex__info .container__flex__text {
  max-width: 460px;
  color: #00252e;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .container__flex .container__flex__info .container__flex__text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .container__flex .container__flex__info {
    margin: 0;
  }
}

.container__flex .container__flex__img {
  margin: 0 30px;
}

@media screen and (max-width: 767px) {
  .container__flex .container__flex__img {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .container__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 480px) {
  .container__flex {
    margin: 120px 0;
  }
}

@media screen and (max-width: 767px) {
  .container__flex--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.callback {
  margin-bottom: 100px;
  padding: 0 20px;
}

.callback .callback__text {
  margin-bottom: 28px;
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .callback .callback__text {
    margin-bottom: 35px;
  }
}

.callback .callback__btn {
  margin: 0 auto;
  padding: 16px 64px;
  display: block;
  background-color: #ff52bf;
  color: #f5faff;
  font-size: 0.875em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .callback .callback__btn {
    padding: 12px 40px;
    font-size: 0.75em;
  }
}

.callback .callback__btn:hover {
  background-color: rgba(255, 143, 216, 0.9);
}

.footer {
  background-color: #f5faff;
}

.footer::before {
  content: '';
  max-width: 100%;
  height: 158px;
  display: block;
  background-image: url(../images/bg/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 375px) {
  .footer::before {
    height: 53px;
    background-image: url(../images/bg/bg-footer-top-mobile.svg);
  }
}

.footer__container {
  background-color: #00252e;
  width: 100%;
}

.container__itens {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
}

.footer__item1 {
  margin: 0 30px;
}

.footer__item2 {
  margin: 0 30px;
}
/*# sourceMappingURL=style.css.map */